/*
 *  C3負荷試験デモのコンフィギュレーション
 */
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "load_test_c3.h"
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(TCP_TASK, { TA_ACT, 0, tcp_echo_task, TCP_PRIORITY, TCP_STACK_SIZE, NULL });
CRE_TSK(UDP_TASK, { TA_ACT, 0, udp_echo_task, UDP_PRIORITY, UDP_STACK_SIZE, NULL });
CRE_TSK(MON_TASK, { TA_ACT, 0, mon_task, MON_PRIORITY, MON_STACK_SIZE, NULL });
