[submodule "asp3/asp3_core"]
	path = asp3/asp3_core
	url = https://github.com/exshonda/asp3_core.git
	branch = feat/esp32c6
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
