/*
 *  BSDソケットTCPechoデモのコンフィギュレーション
 */
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "tcp_socket_echo.h"
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(ECHO_TASK, { TA_ACT, 0, echo_task, ECHO_PRIORITY, ECHO_STACK_SIZE, NULL });
