/*
 *  BSDソケットTCPクライアントデモのコンフィギュレーション
 */
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "tcp_socket_client.h"
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(CLIENT_TASK, { TA_ACT, 0, client_task, CLIENT_PRIORITY, CLIENT_STACK_SIZE, NULL });
