/*
 *  BSDソケットUDP echoデモのコンフィギュレーション
 */
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "udp_socket_echo.h"
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(UDP_TASK, { TA_ACT, 0, udp_task, UDP_PRIORITY, UDP_STACK_SIZE, NULL });
